@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
	--background: #0b0e2f;
	--background-100: #36384e;
	--text-color: #ffffff;
	--font-color: #000000;

	--purple: #a628f2;
	--red: #ee3d64;
	--gray: #dfdfdf;
	--cyan: #1993ff;
	--green: #4caf50;
	--black: #000000;

	--purple-border: rgba(166, 40, 242, 0.69);
	--red-border: rgba(238, 61, 100, 0.59);
	--blue-border: rgba(34, 96, 255, 0.59);
	--yellow-border: rgba(239, 198, 42, 0.59);
	--black-border: rgba(0, 0, 0, 0.59);
	--green-border: rgba(76, 175, 80, 0.59);
	--white-border: rgba(222, 222, 222, 0.59);
	--cyan-border: rgba(111, 255, 255, 0.59);
	--orange-border: rgba(255, 152, 0);
	--pink-border: rgba(255, 0, 127, 0.59);

	--purple-bg: rgb(244, 224, 255);
	--red-bg: rgb(255, 218, 226);
	--blue-bg: rgb(208, 221, 255);
	--yellow-bg: rgb(255, 203, 194);
	--green-bg: rgb(204, 255, 204);
	--white-bg: rgb(222, 222, 222);
	--black-bg: rgb(0, 0, 0);
	--cyan-bg: rgb(200, 255, 255);
	--orange-bg: rgb(255, 232, 199);
	--pink-bg: rgb(255, 204, 255);
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--background);
	color: var(--text-color);
	height: 100%;
}

main {
	height: 100%;
}

* {
	box-sizing: border-box;
}
